/* فایل style.css */

/* تنظیمات پایه */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* طراحی هدر */
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  /* طراحی بخش‌های دیگر */
  section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* طراحی فوتر */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }